In [3]:
# Initial Dataset
import pandas as pd
df = pd.read_csv(r"C:\Users\zacha\龙京\python\mosh_machine_learning\data\music.csv")
df.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [6]:
# Training Data
X = df.drop(columns = ['genre'])
X.head()

   age  gender
0   20       1
1   23       1
2   25       1
3   26       1
4   29       1

In [7]:
# Testing Data
Y = df['genre']
Y.head()

0    HipHop
1    HipHop
2    HipHop
3      Jazz
4      Jazz
Name: genre, dtype: object

In [94]:
# Prediction Model
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
model.fit(X.values,Y)
predictions = model.predict([[21, 1], [22, 0]])
predictions

array(['HipHop', 'Dance'], dtype=object)

In [92]:
# TTS Accuracy
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

model.fit(X_train, Y_train)
predictions = model.predict(X_test)

score = accuracy_score(Y_test, predictions)
score

1.0

In [95]:
# Model Storage
import joblib

joblib.dump(model, 'music_recommender.joblib')

['music_recommender.joblib']

In [ ]:
model = joblib.load(model, 'music_recommender.joblib')
predictions = model.predict([[21, 1]])
predictions