# Lists

In [2]:
given_list = [5, 4, 4, 3, 1, -2, -3, -5]

total1 = 0
i = 0
while given_list[i] > 0:
    total1 += given_list[i]
    i += 1
print(total1)

17

In [5]:
given_list2 = [5, 4, 4, 3, 1, -2, -3, -5]
total2 = 0
for element in given_list2:
    if element <= 0:
        break
    total2 += element
print(total2)

17

In [7]:
total3 = 0
i = 0
while True:
    total3 += given_list2[i]
    i += 1
    if given_list2[i] <= 0:
        break
print(total3)

17

# Dictionary

In [8]:
d = {}

In [9]:
d["George"] = 24

In [10]:
d["Tom"] = 32

In [11]:
d["Jenny"] = 16

In [12]:
print(d["George"])

24

# Classes and Objects

In [14]:
class Robot:
    def introduce_self(self):
        print("My name is " + self.name)

In [15]:
r1 = Robot()
r1.name = "Tom"
r1.color = "Red"
r1.weight = 30

In [16]:
r1.introduce_self()

My name is Tom

In [20]:
r2 = Robot()
r2.name = "Jerry"
r2.color = "Blue"
r2.weight = 40

In [21]:
r2.introduce_self()

My name is Jerry

In [22]:
r1.introduce_self()
r2.introduce_self()

My name is Tom
My name is Jerry

In [90]:
class Student:
    def __init__ (self, name, race, height):
        self.name = name 
        self.race = race
        self.height = height
        
    def introduce_self(self):
        print("Hello, My name is " + self.name)

In [91]:
s1 = Student("Tammy", "Asian", 67)

In [92]:
s1.introduce_self()

Hello, My name is Tammy

In [93]:
s2 = Student("Zach", "Asian", 69)

In [94]:
s2.introduce_self()

Hello, My name is Zach

In [95]:
s1.introduce_self()
s2.introduce_self()

Hello, My name is Tammy
Hello, My name is Zach

# Part II

In [116]:
class Employee:
    def __init__ (employee, firstname, lastname, department, age):
        employee.firstname = firstname
        employee.lastname = lastname
        employee.department = department
        employee.age = age
    
    def introduce_employee(employee):
        print("Hello, my name is " + employee.firstname)

In [117]:
e1 = Employee("Tammy", "Yen", "Accounting", 21)

In [118]:
e1.introduce_employee()

Hello, my name is Tammy

In [119]:
e2 = Employee("Zach", "Young", "Operations", 25)

In [120]:
e2.introduce_employee()

Hello, my name is Zach

# Boolean

In [121]:
type("IBM")

str

In [122]:
type(4.32)

float

In [123]:
type(9)

int

In [124]:
type(True)

bool

In [125]:
type(False)

bool

In [128]:
a = 3
b = 1

if a > b:
    print("a is greater than b")

a is greater than b

In [129]:
if True:
    print("a is greater than b")

a is greater than b

In [130]:
boolean_value = a > b

In [131]:
print(boolean_value)

True

In [132]:
if boolean_value:
    print("a is greater than b")

a is greater than b

In [137]:
def are_you_sad(is_rainy, has_umbrella):
    if is_rainy == True and has_umbrella == False:
        return True
    else:
        return False

In [138]:
are_you_sad(True, False)

True

In [139]:
are_you_sad(True, True)

False

In [140]:
def c_greater_than_d_plus_e(c, d, e):
    if c > d + e:
        return True
    else:
        return False

In [141]:
c = 7
d = 3
e = 2

In [142]:
c_greater_than_d_plus_e(7, 3, 2)

True

In [143]:
c_greater_than_d_plus_e(3, 2, 1)

False

# Comprehension

In [144]:
a = [1, 3, 5, 7, 9, 11]

In [ ]:
[2, 6, 10, 14, 18, 22]

In [145]:
b = []
b.append(10)
b.append(2)
print(b)

[10, 2]

In [147]:
c = []
for x in a:
    c.append(x * 2)
print(c)

[2, 6, 10, 14, 18, 22]

In [148]:
d = [x * 2 for x in a]

In [149]:
print(d)

[2, 6, 10, 14, 18, 22]

In [150]:
e = [x * 3 for x in a]

In [151]:
print(e)

[3, 9, 15, 21, 27, 33]