# Loading the Data

In [5]:
# Data Packages
import pandas as pd

In [7]:
# Establishing Path and Extension
import os
path = r"C:\Users\zacha\龙京\python\youtube\kg_data\pandas_data\Pandas-Data-Science-Tasks-master\SalesAnalysis\Sales_Data"
extension = '.csv'

In [8]:
# Constructing List of CSV Files
files = [file for file in os.listdir(path) if file.endswith(extension)]

In [9]:
# Importing CSV Files to Pandas 
dfs = []
for file in files:
    df = pd.read_csv(os.path.join(path, file))
    dfs.append(df)

In [10]:
# Concatening into One 
df = pd.concat(dfs, ignore_index=True)

In [19]:
# Upload Merged CSV
df.to_csv("Sales_FY_2019.csv", index = False)

# Cleaning the Data

In [20]:
# Creating Month Column
df['Month'] = df['Order Date'].str[0:2]

In [21]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04