In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\zacha\Hyperborea\csv files\survey_results_public.csv')

In [4]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [12]:
df.head(3)

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,Salary
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.000
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN

In [9]:
df.rename(columns = {'ResponseId': 'Respondent', 'ConvertedCompYearly': "Salary"}, inplace = True)

In [11]:
df.set_index('Respondent', inplace = True)

In [13]:
df['Country'] = df['Country'].replace(['United States of America'], 'America')

In [17]:
usa_filt = df['Country'] == 'America'

usa_filt.head(3)

Respondent
1    False
2    False
3    False
Name: Country, dtype: bool

In [19]:
df.loc[usa_filt].head(3)

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,Salary
Respondent,,,,,,,,,,,,,,,,,,,,,
6,I am a student who is learning to code,"Student, part-time",America,Georgia,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,...,18-24 years old,Prefer not to say,No,Straight / Heterosexual,Prefer not to say,None of the above,I have a concentration and/or memory disorder ...,Too long,Neither easy nor difficult,NaN
7,I code primarily as a hobby,I prefer not to say,America,New Hampshire,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",3,NaN,...,Prefer not to say,Prefer not to say,No,NaN,I don't know,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
16,I am a student who is learning to code,"Student, full-time",America,Missouri,NaN,"Secondary school (e.g. American high school, G...",5 - 10 years,Other (please specify):,7,NaN,...,Under 18 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Too long,Easy,NaN

In [20]:
df.loc[usa_filt].mean()

C:\Users\zacha\AppData\Local\Temp\ipykernel_15404\3717892746.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.loc[usa_filt].mean()

UK_Country                                        NaN
CompTotal    704154511628609670759779219695206400.000
Salary                                     262993.898
dtype: float64

In [21]:
df['Country'] = df['Country'].replace(['Russian Federation'], 'Russia')

In [23]:
russia_filt = df['Country'] == 'Russia'

russia_filt.head(3)

Respondent
1    False
2    False
3     True
Name: Country, dtype: bool

In [28]:
df['Country'][usa_filt].value_counts(normalize = True)

America   1.000
Name: Country, dtype: float64

In [29]:
prc_filt = df['Country'] == 'China'

prc_filt.head(3)

Respondent
1    False
2    False
3    False
Name: Country, dtype: bool

In [30]:
df[prc_filt]['Salary'].mean()

62562.90969899666

In [31]:
df[prc_filt]['Gender'].value_counts()

Man                                                        873
Prefer not to say                                           47
Woman                                                       46
Non-binary, genderqueer, or gender non-conforming           16
Man;Non-binary, genderqueer, or gender non-conforming        6
Man;Or, in your own words:                                   3
Or, in your own words:                                       2
Man;Woman                                                    2
Woman;Non-binary, genderqueer, or gender non-conforming      1
Name: Gender, dtype: int64

In [33]:
df[prc_filt]['Employment'].value_counts(normalize = True)

Employed full-time                                     0.618
Student, full-time                                     0.215
Student, part-time                                     0.049
Not employed, but looking for work                     0.030
Independent contractor, freelancer, or self-employed   0.030
Employed part-time                                     0.023
Not employed, and not looking for work                 0.021
I prefer not to say                                    0.012
Retired                                                0.001
Name: Employment, dtype: float64

In [39]:
country_group = df.groupby('Country')

country_group.get_group('China').head(3)

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,Salary
Respondent,,,,,,,,,,,,,,,,,,,,,
552,I am a student who is learning to code,"Student, full-time",China,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,2,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,East Asian,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
1033,I am a developer by profession,Employed full-time,China,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Other (please specify):;Colleague,16,12,...,25-34 years old,Man,No,Straight / Heterosexual,East Asian,None of the above,None of the above,Appropriate in length,Easy,71446.000
1452,"I am not primarily a developer, but I write co...",Employed full-time,China,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,10,8,...,25-34 years old,Man,No,Straight / Heterosexual,East Asian,None of the above,None of the above,Too long,Neither easy nor difficult,29148.000

In [49]:
country_group['Gender'].value_counts(normalize = True).loc['China']

Gender
Man                                                       0.877
Prefer not to say                                         0.047
Woman                                                     0.046
Non-binary, genderqueer, or gender non-conforming         0.016
Man;Non-binary, genderqueer, or gender non-conforming     0.006
Man;Or, in your own words:                                0.003
Man;Woman                                                 0.002
Or, in your own words:                                    0.002
Woman;Non-binary, genderqueer, or gender non-conforming   0.001
Name: Gender, dtype: float64

In [51]:
country_group['Salary'].agg(['median', 'mean']).loc['America']

median   125000.000
mean     262993.898
Name: America, dtype: float64

In [52]:
country_group['Gender'].apply(lambda x: x.str.contains('Man').sum())

Country
Afghanistan                                38
Albania                                    56
Algeria                                    41
America                                 13337
Andorra                                     8
                                        ...
Venezuela, Bolivarian Republic of...       99
Viet Nam                                  351
Yemen                                      18
Zambia                                     21
Zimbabwe                                   33
Name: Gender, Length: 181, dtype: int64

In [53]:
country_group['Employment'].apply(lambda x: x.str.contains('Student').sum())

Country
Afghanistan                               13
Albania                                    7
Algeria                                    8
America                                 1829
Andorra                                    1
                                        ...
Venezuela, Bolivarian Republic of...      13
Viet Nam                                  88
Yemen                                      4
Zambia                                     5
Zimbabwe                                   7
Name: Employment, Length: 181, dtype: int64

In [54]:
df[usa_filt]['Employment'].value_counts()

Employed full-time                                      11214
Student, full-time                                       1689
Independent contractor, freelancer, or self-employed      976
Not employed, but looking for work                        425
Employed part-time                                        263
Not employed, and not looking for work                    244
I prefer not to say                                       185
Student, part-time                                        140
Retired                                                   130
Name: Employment, dtype: int64

In [55]:
df[usa_filt]['Employment'].value_counts(normalize = True)

Employed full-time                                     0.735
Student, full-time                                     0.111
Independent contractor, freelancer, or self-employed   0.064
Not employed, but looking for work                     0.028
Employed part-time                                     0.017
Not employed, and not looking for work                 0.016
I prefer not to say                                    0.012
Student, part-time                                     0.009
Retired                                                0.009
Name: Employment, dtype: float64