In [16]:
import pandas as pd

In [69]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [17]:
df = pd.read_csv(r'C:\Users\zacha\Hyperborea\csv files\survey_results_public.csv')

In [23]:
df.head(3)

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,Salary
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",Russia,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN

In [19]:
df.rename(columns = {'ResponseId': 'Respondent'}, inplace = True)

In [20]:
df.set_index('Respondent', inplace = True)

In [21]:
df.rename(columns = {'ConvertedCompYearly': 'Salary'}, inplace = True)

In [22]:
df['Country'] = df['Country'].replace(['Russian Federation'], 'Russia')

In [24]:
df['Country'] = df['Country'].replace(['United States of America'], 'America')

In [32]:
russia_filt = df['Country'] == 'Russia'

russia_filt

Respondent
1        False
2        False
3         True
4        False
5        False
         ...
83435    False
83436    False
83437    False
83438    False
83439    False
Name: Country, Length: 83439, dtype: bool

In [33]:
russia_filt.value_counts()

False    81965
True      1474
Name: Country, dtype: int64

In [34]:
df.loc[russia_filt]['Salary'].mean()

37772.203872437356

In [35]:
df.loc[russia_filt]['Salary'].median()

32088.0

In [43]:
country_group = df.groupby(['Country'])

country_group.get_group('America').head(3)

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,Salary
Respondent,,,,,,,,,,,,,,,,,,,,,
6,I am a student who is learning to code,"Student, part-time",America,Georgia,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,...,18-24 years old,Prefer not to say,No,Straight / Heterosexual,Prefer not to say,None of the above,I have a concentration and/or memory disorder ...,Too long,Neither easy nor difficult,NaN
7,I code primarily as a hobby,I prefer not to say,America,New Hampshire,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",3,NaN,...,Prefer not to say,Prefer not to say,No,NaN,I don't know,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
16,I am a student who is learning to code,"Student, full-time",America,Missouri,NaN,"Secondary school (e.g. American high school, G...",5 - 10 years,Other (please specify):,7,NaN,...,Under 18 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Too long,Easy,NaN

In [49]:
df['Country'].value_counts(normalize = True)

America                                                 0.183224
India                                                   0.125972
Germany                                                 0.067415
United Kingdom of Great Britain and Northern Ireland    0.053632
Canada                                                  0.036098
                                                          ...
Saint Kitts and Nevis                                   0.000012
Dominica                                                0.000012
Saint Vincent and the Grenadines                        0.000012
Tuvalu                                                  0.000012
Papua New Guinea                                        0.000012
Name: Country, Length: 181, dtype: float64

In [52]:
df.loc[russia_filt]['Gender'].value_counts()

Man                                                                                   1373
Woman                                                                                   50
Prefer not to say                                                                       15
Or, in your own words:                                                                  12
Non-binary, genderqueer, or gender non-conforming                                        6
Man;Or, in your own words:                                                               5
Man;Non-binary, genderqueer, or gender non-conforming                                    5
Man;Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:       1
Man;Woman                                                                                1
Name: Gender, dtype: int64

In [53]:
df[russia_filt]['Gender'].value_counts(normalize = True)

Man                                                                                   0.935286
Woman                                                                                 0.034060
Prefer not to say                                                                     0.010218
Or, in your own words:                                                                0.008174
Non-binary, genderqueer, or gender non-conforming                                     0.004087
Man;Or, in your own words:                                                            0.003406
Man;Non-binary, genderqueer, or gender non-conforming                                 0.003406
Man;Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:    0.000681
Man;Woman                                                                             0.000681
Name: Gender, dtype: float64

In [57]:
country_group['Gender'].value_counts().head(25)

Country      Gender
Afghanistan  Man                                                                                      36
             Non-binary, genderqueer, or gender non-conforming                                         5
             Or, in your own words:                                                                    5
             Woman                                                                                     4
             Prefer not to say                                                                         3
             Man;Non-binary, genderqueer, or gender non-conforming                                     1
             Man;Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:        1
Albania      Man                                                                                      55
             Woman                                                                                     8
             Prefer not to say                                                                         5
             Man;Woman;Non-binary, genderqueer, or gender non-conforming                               1
             Non-binary, genderqueer, or gender non-conforming;Or, in your own words:                  1
Algeria      Man                                                                                      38
             Woman                                                                                     2
             Man;Non-binary, genderqueer, or gender non-conforming                                     1
             Man;Or, in your own words:                                                                1
             Man;Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:        1
             Non-binary, genderqueer, or gender non-conforming                                         1
             Prefer not to say                                                                         1
America      Man                                                                                   13185
             Woman                                                                                   908
             Prefer not to say                                                                       346
             Non-binary, genderqueer, or gender non-conforming                                       217
             Or, in your own words:                                                                   92
             Man;Non-binary, genderqueer, or gender non-conforming                                    89
Name: Gender, dtype: int64

In [63]:
country_group['Gender'].value_counts().loc['China']

Gender
Man                                                        873
Prefer not to say                                           47
Woman                                                       46
Non-binary, genderqueer, or gender non-conforming           16
Man;Non-binary, genderqueer, or gender non-conforming        6
Man;Or, in your own words:                                   3
Man;Woman                                                    2
Or, in your own words:                                       2
Woman;Non-binary, genderqueer, or gender non-conforming      1
Name: Gender, dtype: int64

In [59]:
prc_filt = df['Country'] == 'China'

prc_filt.head(2)

Respondent
1    False
2    False
Name: Country, dtype: bool

In [62]:
prc_filt.value_counts()

False    82384
True      1055
Name: Country, dtype: int64

In [67]:
country_group['Employment'].value_counts(normalize = True).loc['China']

Employment
Employed full-time                                      0.617871
Student, full-time                                      0.214829
Student, part-time                                      0.049430
Independent contractor, freelancer, or self-employed    0.030418
Not employed, but looking for work                      0.030418
Employed part-time                                      0.022814
Not employed, and not looking for work                  0.020913
I prefer not to say                                     0.012357
Retired                                                 0.000951
Name: Employment, dtype: float64

In [73]:
country_group['Salary'].mean().loc['China']

262993.89848024317

In [74]:
country_group['Salary'].agg(['median', 'mean']).loc['China']

median   34296.000
mean     62562.910
Name: China, dtype: float64